.button {
  outline: none;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.12s ease-in-out;

  &.primary-button {
    color: white;
    background-color: rgb(205, 0, 0);
    font-weight: 700;
  }

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    box-shadow: 0 0 15px rgba(230, 67, 67, 0.492);
    background-color: rgb(255, 63, 63);
  }
}
